html {
	font-family: sans-serif;
	/* background-color: #1e2029; */
}

.row {
	display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
	float: left;
}

.left {
	width: 25%;
}

.right {
	width: 75%;
}

/* Clear floats after the columns */
.row:after {
	content: '';
	display: table;
	clear: both;
}

/* ================================================================= */
.white-content {
	background: #e4e4e4;
}
