html {
	font-family: sans-serif;
	background-color: #3d414a;
}

.row {
	display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
	float: left;
}

.left {
	width: 25%;
}

.right {
	width: 75%;
}

/* Clear floats after the columns */
.row:after {
	content: '';
	display: table;
	clear: both;
}

@media only screen and (max-width: 1200px) {
	.row {
		display: flex;
		flex-wrap: wrap;
	}

	.left,
	.right {
		flex: 100%;
	}
}
